header                            { height: 112px; overflow: hidden; }

header img#logo                   { float: left; margin: 10px 0 28px 10px; }

#social_header                    { float: right; background: #62ae45; height: 26px; padding: 3px 4px 2px 6px;
                                      background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.31, #62ae45), color-stop(0.56, #64af46), color-stop(0.98, #a2c939));
                                      background-image: -moz-linear-gradient(center bottom, #2A668E 31%, #3879A4 56%, #4387B4 98%);
                                      -moz-border-radius-bottomleft: 5px;
                                      -moz-border-radius-bottomright: 5px;
                                      -webkit-border-bottom-right-radius: 5px;
                                      -webkit-border-bottom-left-radius: 5px;
                                      border-bottom-right-radius: 5px 5px;
                                      border-bottom-left-radius: 5px 5px;
                                  }
